.services__container {
  grid-template-columns: repeat(3, 270px);
  justify-content: center;
  column-gap: 1.8rem;
}

.services__content {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--container-color);
  padding: 6rem 0 2rem 2.5rem;
}

.services__modal {
  display: none;
  flex-direction: row; /* Make sure it's set to row */
}
